{% extends 'base.html' %}
{% load static %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
<main>
    <div class="">
        <h1>Редактировать профиль</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Сохранить изменения</button>
        </form>
        <a href="{% url 'user_profile' user.id %}" class="btn">Назад</a>  <!-- Ссылка на профиль -->
    </div>
</main>
{% endblock %}
